body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #6a3740;
}

.container {
    width: 100%; 
    max-width: 1300px;
    background-color: #f2c0d5; 
    border-radius: 5px; 
}

.page__title {
    color: #e56f8379;
    text-align: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 3px solid #e56f83;
}

.example-one,
.example-two,
.example-three {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 3px solid #e56f83;
    border-radius: 10px;
    background-color: #f7d1e0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    height: auto;
}

ol {
    padding: 0;
    list-style-position: inside;
}

footer {
    background-color:rgb(229, 111, 131);
    margin-top: 20px;
}

.footerText {
    color: white;
}